/* Menu Page */

/* menu Container */
.menu-container {
  max-width: 1260px;
  margin: 2px auto 0px;
}

/* Secondary Nav */
.secondary-nav {
  margin: 2px auto 0px;
  height: 55px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #c7c7c7;
}

.secondary-nav ul {
  padding-left: 105px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
}

.secondary-nav ul li a {
  margin-left: 25px;
  font-size: 15px;
}

.secondary-nav ul li a.active-secondary {
  padding-bottom: 5px;
  border-bottom: 1px #333 solid;
}

/* Fixed Bottom bar */

.fixed-bottom-bar {
  background-color: var(--primary-color);
  margin: auto;
  height: 10vh;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}

.fixed-bottom-bar div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: hsla(0, 0%, 100%, 0.7);
}

.fixed-bottom-bar div ul:first-child {
  padding-bottom: 5px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.7);
}

/* Menu */
.main-section-menu {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
}


.main-section-menu .list-menu {
  margin-top: 30px;
  font-size: 1rem;
  max-width: 200px;
}

.main-section-menu .list-menu ul li {
  padding: 10px 0;
}

.main-section-menu .list-menu ul li.bold {
  font-weight: bold;
  font-size: 1.25rem;
}

.main-section-menu .list-menu ul li a {
  color: #AEAEAE;
}

.main-section-menu .image-menu .drink,
.main-section-menu .image-menu .food,
.main-section-menu .image-menu .home-coffee,
.main-section-menu .image-menu .merchandise {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.main-section-menu .image-menu ul li img {
  width: auto;
  height: 150px !important;
}

.main-section-menu .image-menu h1 {
  margin-top: 30px;
  font-size: 1.75rem;
  font-weight: bold;
}

.main-section-menu .image-menu h2 {
  margin-top: 30px;
  font-size: 1.5rem;
  border-bottom: #c7c7c7 solid 1px;
  padding-bottom: 25px;
}

.main-section-menu .image-menu li {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
}

.main-section-menu .image-menu li a {
  margin-left: 10px;
  font-weight: 500;
  font-size: 1.25rem;
}

#menu-links {
  border-top: #c7c7c7 1px solid;
  width: 100%;
  margin-top: 100px;
}

/* Media Queries */
@media (max-width: 1000px) {
  .main-section-menu .list-menu {
    display: none;
  }

  .main-section-menu {
    padding: 0 20px;
  }

  .main-section-menu .image-menu ul li img {
    width: auto;
    height: 75px !important;
  }

}

@media (max-width: 700px) {
  .secondary-nav {
    display: none;
  }

  .main-section-menu .image-menu .drink,
  .main-section-menu .image-menu .food,
  .main-section-menu .image-menu .home-coffee,
  .main-section-menu .image-menu .merchandise {
    grid-template-columns: 1fr;
  }
}