/* Rewards NavBar */
.rewards-navbar {
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 3px #000;
}

.rewards-navbar-inner {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rewards-navbar h2 {
  font-size: 13px;
  letter-spacing: 2px;
}

/* Join Section */
.join {
  background-color: var(--primary-color);
  color: #fff;
  height: 940px;
}